<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="РасписаниеАэропорт.Поляков.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="РасписаниеАэропорт.Поляков.Properties.Settings.baska"
            connectionString="Data Source=DESKTOP-9P83V87\SQLEXPRESS;Initial Catalog=baskaAir;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <РасписаниеАэропорт.Поляков.Properties.Settings>
            <setting name="ИнформационноеОкно" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="УспешнаяАвторизация" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Пользователь" serializeAs="String">
                <value>Вы не авторизованы</value>
            </setting>
        </РасписаниеАэропорт.Поляков.Properties.Settings>
    </userSettings>
</configuration>